* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1 !important;
  padding: 0.7rem 0;
}
header img {
  width: 12%;
  margin-top: 2px;
  margin-left: 4px;
}
header nav ul {
  list-style: none;
  display: flex;
  margin: 7px 0 0 7px;
}
header nav ul li {
  float: right;
}
header nav ul li a {
  margin: 7px;
  display: block;
  text-align: center;
  padding: 14px 16px;
}
header nav ul li .categorias-nav-bar {
  /*font-family: ROBOTO-MEDIUM;*/
  font-size: 1rem;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 7px;
  margin-top: 5px;
}
header nav ul li .categorias-nav-bar:hover {
  /*font-family: ROBOTO-MEDIUM;*/
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background-color: pink;
  border-radius: 6px;
}
header nav ul .ul-drop {
  padding-top: 3px;
}
header nav ul .div-drow {
  padding-top: 3px;
}
header nav ul .boton-dropdown {
  /*font-family: ROBOTO-MEDIUM;*/
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
header nav ul .boton-dropdown:hover {
  /*font-family: ROBOTO-MEDIUM;*/
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background-color: pink;
}
header nav ul .dropdown-item {
  /*font-family: ROBOTO-THIN;*/
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
header nav ul .dropdown-item:hover {
  /*font-family: ROBOTO-THIN;*/
  font-size: 1rem;
  text-decoration: none;
  color: #e6e6fa;
  background-color: #9696ea;
  border-radius: 8px;
}

@media screen and (max-width: 550px) {
  header img {
    width: 17%;
  }
  header nav ul li a {
    margin: 3px;
  }
  .categorias-nav-bar {
    font-size: 0.5rem;
    padding: 2px;
    color: black;
    background-color: white;
    border-radius: 5px;
  }
  .categorias-nav-bar:hover {
    font-size: 0.5rem;
    color: white;
    background-color: pink;
    border-radius: 6px;
  }
  .dropdown-item {
    /*font-family: ROBOTO-THIN;*/
    font-size: 0.5rem;
    text-decoration: none;
    color: black;
  }
  .dropdown-item:hover {
    /*font-family: ROBOTO-THIN;*/
    font-size: 0.5rem;
    text-decoration: none;
    color: #e6e6fa;
    background-color: #9696ea;
    border-radius: 8px;
  }
}
footer {
  background-color: white;
  border-top: 1px solid black;
  padding: 8px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  width: 5rem;
}
footer img .footer-items {
  margin: 0 50px 0 0;
}
footer .enlace-instagram {
  display: flex;
  margin-right: 20px;
  background-color: #e6e6fa;
  color: #9696ea;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 7px;
  border-radius: 6px;
}
footer .enlace-instagram:hover {
  display: flex;
  margin-right: 20px;
  background-color: #9696ea;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 7px;
  border-radius: 6px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to top, #e6e6fa, white);
}
body div h1 {
  font-size: 1.8rem;
  color: #536895;
  padding-top: 7rem;
  padding-bottom: 1rem;
  text-align: center;
}
body div .container-brief {
  background-color: #9696ea;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body div p {
  font-size: 1rem;
  text-align: center;
  color: white;
  padding-top: 3%;
  padding-bottom: 2.2%;
  margin: 0px 0px;
  max-width: 85%;
}
body video {
  width: 100%;
}
body h2 {
  background-color: #9696ea;
  color: #f0f0f0;
  font-size: 1.3rem;
  text-align: center;
  padding: 2%;
  margin-top: 3px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-container .container {
  width: 367px;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  padding: 0;
  border-radius: 20px;
  box-shadow: 3px 1px 12px grey;
  max-width: 85%;
}
.flex-container .container img {
  width: 25rem;
  opacity: 70%;
}
.flex-container .container a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #9696ea;
  background-color: white;
  text-shadow: 2px 2px 20px black;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 95%;
  transition: all 1s;
}
.flex-container .container a:hover {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  background-color: pink;
  padding: 6px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*text-shadow: 0 0 8px rgba(0, 0, 0, 0.8)*/
  opacity: 95%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 400px);
  margin-top: 100px;
  margin-bottom: 10px;
}
.grid-container .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container .item-texto p {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  background-image: linear-gradient(to right, #9696ea, #e6e6fa);
  padding: 20px;
  border-radius: 20px;
}
.grid-container .cuarto-elemento video {
  width: 96%;
}

@media screen and (max-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 250px 100px 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .grid-container .item-texto p {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    border-radius: 20px;
  }
}
.titulo-productos {
  font-size: 1.8rem;
  color: #536895;
  padding-top: 7.3rem;
  padding-bottom: 1rem;
  text-align: center;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  grid-template-rows: repeat(2, 250px);
  margin: 20px;
  margin-top: 40px;
  margin-right: 80px;
}

.quinto-item-producto {
  grid-column: 3/4;
  grid-row: 1/3;
}

.grid-item-producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fotos_productos {
  width: 75%;
}

.fotos_productos:hover {
  width: 85%;
}

.video-productos {
  width: 100%;
}

.video-productos:hover {
  width: 110%;
}

@media screen and (max-width: 650px) {
  .grid-productos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 300px) 900px;
    margin: 10px;
  }
  .quinto-item-producto {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .imagenes-productos {
    width: 90%;
  }
  .video-productos {
    width: 75%;
  }
  .video-productos:hover {
    width: 97%;
  }
  .titulo-productos {
    font-size: 1.4rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
  }
}
.titulo-drone {
  font-size: 1.5rem;
  color: #536895;
  padding-top: 8rem;
  text-align: center;
}

.video-drone {
  padding-top: 2rem;
  padding-bottom: 5rem;
  width: 100%;
}

.body-formulario {
  display: flex;
  justify-content: center;
}

.frase1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: #536895;
  font-size: 1.5rem;
  margin: 0px 35px;
}

.frase2 {
  display: flex;
  justify-content: center;
  margin: 0px 35px;
  background-color: #536895;
  color: white;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  border: 1px solid #9696ea;
  border-radius: 7px;
  padding: 12px;
  margin-top: 2rem;
  padding-bottom: 5px;
}

.formulario {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-top: 1rem;
  padding-left: 20%; /*ESTE ES RARO, NO LO PUEDO CENTRAR*/
}

.formulario-rellenar {
  font-size: 1rem;
  margin-top: 2px;
  margin-bottom: 1px;
  border: 1px solid black;
}

.formulario-rellenar:active {
  border: 2px solid #e6e6fa;
}

@media screen and (max-width: 550px) {
  header img {
    width: 17%;
  }
  header nav ul li a {
    margin: 3px;
  }
  .categorias-nav-bar {
    font-size: 0.5rem;
    padding: 2px;
  }
  .categorias-nav-bar:hover {
    font-size: 0.5rem;
  }
  body div h1 {
    font-size: 1.4rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
  }
  body div p {
    font-size: 0.9rem;
  }
  body h2 {
    font-size: 1rem;
  }
  .frase1 {
    font-size: 1rem;
    padding-top: 23%;
    padding-bottom: 5%;
  }
  .frase2 {
    font-size: 0.8rem;
    margin-top: 10%;
  }
  .formulario {
    max-width: 80%;
  }
  .titulo-productos {
    font-size: 1rem;
    padding-top: 23%;
  }
  .titulo-drone {
    font-size: 1rem;
    padding-top: 23%;
  }
}
@media (min-width: 551px) {
  .frase1 {
    font-size: 1.3rem;
    padding-top: 15%;
  }
}

/*# sourceMappingURL=style.css.map */
