@media screen and (max-width: 550px) {

    //INDEX
    body div h1{
        font-size: 1.4rem;
        padding-top: 6rem;
        padding-bottom: 1rem;
    }
    body div p{
        font-size: 0.9rem;
    }
    body h2{
        font-size: 1rem;
    }
    // FIESTAS
    .frase1{
        font-size: 1rem;
        padding-top: 23%;
        padding-bottom: 5%;
    }
    .frase2{
        font-size: 0.8rem;
        margin-top: 10%;
    }
    //CONTACTO
    .formulario{
        max-width: 80%;
    }
   .frase2{
    margin-bottom: 15px;
   }
    // PRODUCTOS
    .titulo-productos{
        font-size: 1rem;
        padding-top: 23%;
    }
    // DRONE
    .titulo-drone{
        font-size: 1rem;
        padding-top: 23%;
    }
  
}

@media (min-width: 551px){
    .frase1{
        font-size: 1.3rem;
        padding-top: 15%;
    }
}