.cuadrado-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.fotos_productos{
    width: 30rem;
    max-width: 85%;
    margin: 0.5rem;
    background-color: bisque;
}
.titulo-productos{
    display: flex;
    justify-content: center;
    font-family: ROBOTO-MEDIUM;
    text-align: center;
    color: #536895;
    font-size: 1.5rem;
    padding-top: 13%;
    margin-left: 3rem;
    margin-right: 3rem;
}