body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to top, $color-secundario, white);
    div{
        h1{
        
        font-size: 1.8rem;
        color: $color-principal;
        padding-top: 6.5rem;
        text-align: center;
    }
    p{
        
        font-size: 1rem;
        text-align: center;
        color: white;
        background-color: $color-principal;
        padding-top: 2%;
        padding-bottom: 2.2%;
        margin: 0px 0px;   
    }
    }
    video{
        width: 100%;
    }
    h2{
        background-color: $color-principal;
        color: #f0f0f0;  
        
        font-size: 1.3rem;
        text-align: center;
        padding: 2%;
        margin-top: 3px;
    }

}
